.main {
  background-color: #282d35;
  padding: 2.5rem 1.5rem;
  background-image: url('../images/v.png');
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: right 85%;
}

.heading {
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}

.facts {
  font-weight: 400;
  color: #fff;
}

.facts > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}
